<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Predict Your Car Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


  
<style>
  ::placeholder {
    color:rgb(255, 255, 255);
    opacity:0.8; /* Firefox */
    font-weight: bold;
  }
  </style>
  
</head>
<body style="background-image: url(../static/car.png);
background-repeat:no-repeat;
background-size:cover;
height:100vh;
display:flex;
">
<section style="background-color: rgba(255, 255, 255, 0.349); padding: 20px;">
<div class="login">
<h1>Predict Your Car Price</h1><br>

<!-- Main Input For Receiving Query to our ML -->
<form name="myform" action="{{ url_for('predict')}}"method="post" onsubmit="return validateform()">
<input id="year" type="text" style="background-color:rgba(219, 228, 236,0.5); height: 45px;" name="Year of Purchase" placeholder="Year of Purchase" required="required" /><br>
<span id="yearr" ></span><br><br>
<input id="distance" type="text" style="background-color:rgba(219, 228, 236,0.5);height: 45px;" name="kms Driven" placeholder="Distance Driven( in km )" required="required" /><br>
<span id="distancee" ></span> <br><br>
<select name="fuel" style="background-color:rgba(219, 228, 236,0.5);width: 400px;height: 45px;padding: 10px;margin-bottom: 10px;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);border-radius: 4px;box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);" required="required">
  <option value="Fuel Type" style="color: aliceblue;">Fuel Type</option>
  <option value="Petrol">Petrol</option>
  <option value="Diesel">Diesel</option>
  <option value="LPG">LPG</option>
  <option value="CNG">CNG</option>
	<option value="Electric">Electric</option>
</select>
<select name="transmission" style="background-color:rgba(219, 228, 236,0.5);width: 400px;height: 45px;padding: 10px;margin-bottom: 10px;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);border-radius: 4px;box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);"  required="required">
  <option value="Transmission" style="color: aliceblue;">Transmission</option>
  <option value="Automatic">Automatic</option>
  <option value="Manual">Manual</option>
</select>
       
<button type="submit" class="btn btn-primary btn-block btn-large" style="margin-bottom: 10px;">Predict</button>

        
<!-- <a href="visual" class="btn btn-primary btn-block btn-large" style="text-decoration: none;">Visualize</a> -->
</form>
  <div>
    <b><h1>Predicted price of car</h1> <p style="width: 100%; font-size: medium; color:aliceblue;">{{ prediction_text }}<br></p></b>
  </div>
</div>
</section>
</body>

</html>

<script>
  function validateform()
  {
  var year = document.getElementById('year').value;
  var distance = document.getElementById('distance').value;

  //year
  if (year== "")
  {
  document.getElementById('yearr').innerHTML="Year can't be empty";
  return false;
  }
  if (year.length<4)
  {
  document.getElementById('yearr').innerHTML="Year should be more than 4 digits";
  return false;
  }
  if(year > 2021)
  {
    document.getElementById('yearr').innerHTML="Invalid year";
  }
  if (year.search(/[a-z\A-Z\@\!\$\%\^\&\(\)\_\-\+\=\<\>\?\.\#\,\*]/)==1)
  {
  document.getElementById('yearr').innerHTML="Year can't contain alphabets and special characters.";
  return false;
  }
  if (year.length > 4)
  {
  document.getElementById('yearr').innerHTML="Year can't be more than 4 digits";
  return false;
  }
  else{
  document.getElementById('yearr').innerHTML="";
  }
  //km driven
  if (distance == "")
  {
  document.getElementById('distancee').innerHTML="Distance can't be empty";
  return false;
  }
  if (distance.search(/[a-z\A-Z\@\!\$\%\^\&\(\)\_\-\+\=\<\>\?\.\#\,\*]/)==1)
  {
  document.getElementById('distancee').innerHTML="Distance can't contain alphabets and special characters.";
  return false;
  }
  else{
  alert("Submitted successfully...!");
  }
  }
  </script>